<html ng-app="myApp">
	<body ng-controller="myCtrl">
        <input ng-model="daFilter.name"></input>
		<li class="row">
		    <span class="personData">name</span>
		    <span class="personData">email</span>
		    <span class="personData">dateEmployed</span>
		    <span class="personData">phone</span>
		    
		</li>
           <li class="row" ng-repeat="employee in employees | filter: doneFilter">
		    <span class="personData">{{employee.name}}</span>
		    <span class="personData">{{employee.email}}</span>
		    <span class="personData">{{employee.dateEmployed}}</span>
		    <span class="personData">{{employee.phone}}</span>
		    
		</li>
            
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>